{% extends "network/layout.html" %} {% block body %}


<div class="boxs w-75 mx-auto">
    <div class="card-header mx-auto">
        <center>
            <h3>Whats on your mind, {{request.user.first_name}}?</h3>
        </center>
    </div>
    <div class="card-body mx-auto">
        <form method="POST" action="{%url 'create'%}">
            {% csrf_token %}
            <div class="form-group mx-auto">
                <textarea class="form-control" id="body" columns="10" maxlength='500' name="body" required autofocus></textarea>
            </div>

            <button class="btn btn-primary mr-auto" type="submit">BUZZ!</button>
            <div class="form-check form-check-inline" style="margin-left:20px">
            
                <input class="form-check-input" type="radio" name="visiblity" id="inlineRadio1" value="True" required>
                <label class="form-check-label" for="inlineRadio1"><i class='bx bx-world bx-tada' title="Public"></i></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="visiblity" id="inlineRadio2" value="False">
                <label class="form-check-label" for="inlineRadio2"><i class='bx bx-home-smile bx-tada' title="Followers Only"></i></label>
            </div>
            <div class="" id="circle">
                <span id="circlet"></span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
        </form>
    </div>

</div>


{% endblock %}