{% extends "network/layout.html" %}
{%block title%}Buzz | {{user.first_name|title}} {{user.last_name}}{%endblock%}
 {% block body %}

<div class="card border-secondary mb-3" style="margin-left:10%;margin-right:10%;color:black;background-color:rgb(255,255,255,0.6);">
    <div class="align-middle mx-auto">
        <center>
            <h1>User Profile</h1>
            <hr>
            <img src={{user.image}} class="rounded-circle" width=300px>
            <h2>{{user.first_name}} {{user.last_name}}{%if user.verified%}<i class='bx bxs-message-square-check' style="color:rgb(0, 89, 255);" name="Verified"></i>{%endif%}</h2>
            {%if request.user == user%}
            <h4><a href="{%url 'showfollowers'%}">Followers</a> : {{followers}} | <a href="{% url 'showfollowing'%}">Following</a>: {{followings}}</h4>
            {%endif%}

            {%if not request.user == user%}
            <h4>Followers : {{followers}} | Following: {{followings}}</h4>
            {% if followingcheck %}
            <a class="btn btn-outline-danger" href="{%url 'follow' user.username%}" style="margin-bottom: 10px;">Unfollow</a>
            {%else%}
            <a class="btn btn-outline-primary" href="{%url 'follow' user.username%}" style="margin-bottom: 10px;">Follow</a>
            {%endif%}
            {%endif%}
        </center>
    </div>
</div>
<div class="dropdown-divider w-75 mx-auto"></div>
{% for post in page %} {%if user.username == post.user.username %}
<div class="card border-secondary mb-3" style="margin-left:10%;margin-right:10%;background-color: rgba(210, 210, 205, 0.8); color:white; box-shadow: 0 4px 8px 0 rgba(255, 255, 0, 0.2), 0 6px 10px 0 rgba(255, 255, 0, 0.1);">
    <h5 class="card-header" style="color:white;">
        <img src="{{post.user.image}}" width='30px' height="30px" style="overflow:none;" class="rounded-circle"><strong style="color:black;margin-left:10px;">{{post.user.first_name}} {{post.user.last_name}}</strong>
        <a href="{%url 'profile' post.user.username%}"><span class="font-weight-lighter" style="color:rgba(54, 46, 0, 0.918); font-size:16px;">@{{post.user|title}}</a></span> {% if request.user == post.user %}
        <a class="float-right" href={%url 'edit' post.id%}><button type="button" class="btn btn-link ed" data-toggle="modal" ><i class='bx bxs-edit' ></i></button></a> {%endif%}
    </h5>
    <div class="card-body text-secondary">
        <h4>
            <p class="card-text" style="color: black;">{{post.body}}</p>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted" align="right">-{{post.time}}{%if post.edited%}(Edited){%endif%}</h6>
        {% if user.is_authenticated %} {% if request.user in post.likes.all %}
        <button class="btn btn-link likebutton" data-postid="{{ post.id }}" data-state="true" data-total="{{post.likes.all.count}}" data-value="Unlike" value="submit"><i id="b{{post.id}}" class='bx bxs-heart' style="color:red;"></i><span id="liked{{post.id}}"></span></button>        {% else %}
        <button class="btn btn-link likebutton" data-postid="{{ post.id }}" data-state="false" data-total="{{post.likes.all.count}}" data-value="Like" value="submit"><i id="b{{post.id}}" class='bx bxs-heart' style="color:black;"></i><span id="liked{{post.id}}"></span></button>        {% endif %} {%endif%}
        <p class="total-likes" id="l{{post.id}}">Likes: {{post.likes.all.count}}</p>

    </div>
</div>
{%endif%} {% endfor %}
<hr>

<div class="container fixed-bottom" style="color:black;">
    <ul class="pagination justify-content-center">
        {% if page.has_previous %}
        <li class="page-item"><a href="?page=1" class="page-link btn btn-outline-dark">&laquo; First</a></li>
        <li class="page-item"><a href="?page={{ page.previous_page_number }}" class="page-link btn btn-outline-dark">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link btn btn-outline-dark">&laquo; First</a></li>
        <li class="page-item disabled"><a class="page-link btn btn-outline-dark">Previous</a></li>
        {% endif %} {% if page.number %}
        <li class="page-item"><a class="page-link btn btn-outline-dark">{{ page.number }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link btn btn-outline-dark">0</a></li>
        {% endif %} {% if page.has_next %}
        <li class="page-item"><a href="?page={{ page.next_page_number }}" class="page-link btn btn-outline-dark">Next</a></li>
        <li class="page-item"><a href="?page={{ page.paginator.num_pages }}" class="page-link btn btn-outline-dark">Last &raquo;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link btn btn-outline-dark">Next</a></li>
        <li class="page-item disabled"><a class="page-link btn btn-outline-dark">Last &raquo;</a></li>
        {% endif %}
    </ul>
</div>

{%if user.is_authenticated%}
<a href="{%url 'create'%}"><button id="open" class="btn btn-primary btn-circle btn-sm" href="#" style="font-size: small;"><img src="https://imgur.com/uckldw8.png" width=50px>+</button></a> {%endif%} {%endblock%}