{% extends "network/layout.html" %} 
{% block body %} 
{%if token is True%}
<div class="w-75 mx-auto" style="margin-top:10%;">
    <h2 class="alert alert-warning">{{msg}}</h2>
        <hr>
        <br>
        <ol style="font-size:24px;">
            {% for entry in entries %}
                <li>{{entry.first_name}} {{entry.last_name}} (<a href="{%url 'profile' entry.username%}">{{ entry.username }})</a></li>
            {% endfor %}
        </ol>
{%else%}
        <br>
        <center>
        <h1 class="alert alert-warning">{{msg}}</h1>
</div>
{%endif%}
{%if user.is_authenticated%}
<a href="{%url 'create'%}"><button id="open" class="btn btn-primary btn-circle btn-sm" href="#" style="font-size: small;"><img src="https://imgur.com/uckldw8.png" width=50px>+</button></a> {%endif%}
{%endblock%}