{%extends 'network/layout.html'%}
{%block body%}
{%if token is True%}
<div class="w-75 mx-auto" style="margin-top:2%;">
    <h2 class="alert alert-primary">My Followings</h2>
    <br>
    <h4 class="alert alert-warning">{{msg}}</h4>
        <hr>
        <br>
        <ol style="font-size:24px;">
            {% for follower in followers %}
                <li>{{follower.target.first_name}} {{follower.target.last_name}}(<a href="{%url 'profile' follower.target.username %}">{{ follower.target.username }}</a>)</li>
            {% endfor %}
        </ol>
</div>
{%else%}
<div class="w-75 mx-auto" style="margin-top:2%;">
        <br>
        <center>
        <h1 class="alert alert-warning">{{msg}}</h1>
</div>
{%endif%}
<a href="{%url 'profile' request.user.username %}" class = "btn btn-outline-primary" style="position:fixed;bottom:8vh;left:15px;">Return</a>
{%if user.is_authenticated%}
<a href="{%url 'create'%}"><button id="open" class="btn btn-primary btn-circle btn-sm" href="#" style="font-size: small;"><img src="https://imgur.com/uckldw8.png" width=50px>+</button></a> {%endif%} {%endblock%}

